<footer id="footer" class="footer-main-wrapper flex flex-col">
<div class="social-icons-wrapper">
    <a href="https://www.instagram.com/iamaniketgupta"><i class="fa-brands fa-instagram"></i></a>
    <a href="https://github.com/iamaniketgupta"><i class="fa-brands fa-square-github"></i></a>
    <a href="https://www.aniketgupta.tech"><img src="../../public/Assets/profile.png" alt="portfolio" id="dev-profile"></a>
    <a href="https://www.linkedin.com/in/iamaniketgupta"><i class="fa-brands fa-linkedin"></i></a>
    <a href="https://www.youtube.com/@aniketguptacoding"><i class="fa-brands fa-youtube"></i></a>
</div>
<div class="footer-links-wrapper">
    <a href="/">Home</a>
    <a href="/">About</a>
    <a href="/">Contact Us</a>
    <a href="/">Privacy Policy</a>
    
</div>
<div id="copyright">
    <p>copyright &copy; 2026 | Made with <span style="color: red;">&hearts;</span> by <a href="https://www.aniketgupta.tech">Aniket Gupta</a></p>
</div>
</footer>