<div class="place-post-wrapper">
    <form action="/addplace/new" method="post">
        <input type="url" name="image" id="">
        <input type="text" name="title" id="" placeholder="title">
        <input type="text" name="description" id="" placeholder="describe">
        price
        <input type="number" name="price" id="">
        <input type="text" name="location" id="" placeholder="location">
        <input type="text" name="country" id="" placeholder="country">

<input type="submit" name="" id="" value="Submit">
    </form>
</div>