<!-- 
     HEADER
  -->

  <header class="header-wrapper flex" id="top">
    <div class="logo flex">
      <img src="/public/Assets/logo.png" alt="logo" >
      <span>Destinator</span>
    </div>
    <nav id="nav-wrapper">
      <i class="fa-solid fa-close" id="cross"></i>
      <a href="/user/signup">SignUp</a>
      <a href="/addplace">Add Place</a>
     
    </nav>
    <div class="header-icons flex">
      <!-- <i class="fa-solid fa-sun" id="theme-changer"></i> -->
    <i class="fa-solid fa-bars navicn"></i>
  </div>
  </header>
  