<!-- 
     HEADER
  -->

  <header class="header-wrapper flex" id="top">
    <div class="logo flex">
      <!-- <img src="/public/images/logo.png" alt="logo"> -->
      <span>Destinator</span>
    </div>
    <nav id="nav-wrapper" class="flex">
      <i class="fa-solid fa-close navicn" id="cross"></i>
      <ul class="flex">
        <a href="/user/signup">
          <li>SignUp</li>
        </a>
        <a href="/addplace">
            <li>Add Place</li>
        </a>
        <li>Feedback</li>
        <li>Tutorial</li>
      </ul>
    </nav>
    <div class="headerIcn">
      <span id="theme-changer"><i class="fa-solid fa-sun"></i></span>
      <span><i class="fa-solid fa-bars navicn"></i></span>
    </div>
  </header>