<!-- 
     HEADER
  -->

  <header class="header-wrapper flex" id="top">
    <div class="logo flex">
      <img src="/public/Assets/logo.png" alt="logo" >
      <a href="/">Destinator</a>
    </div>
    <nav id="nav-wrapper" class="flex">
      <i class="fa-solid fa-close" id="cross"></i>
      <a href="/user/signup"><i class="fa-solid fa-right-to-bracket"></i>Login/Singup</a>
      <a href="/addplace"><i class="fa-solid fa-arrow-up-from-bracket"></i>Add Place</a>
      <a href="/"><i class="fa-solid fa-user"></i>Profile</a>
      <a href="/"><i class="fa-solid fa-heart"></i>My Places</a>
     
    </nav>
    <div class="header-icons flex">
      <!-- <i class="fa-solid fa-sun" id="theme-changer"></i> -->
    <i class="fa-solid fa-bars navicn"></i>
  </div>
  </header>
  