<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Find My Home</title>
    <%- include('./partials/styleSheets') %>
</head>

<body>
    <div class="main-wrapper">
        <%- include('./components/navbar') %>




    </div>
    <%- include('./partials/scripts') %>
</body>

</html>