<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Destinator</title>
    <%- include('./partials/styleSheets') %>
</head>

<body>
    <%- include('./components/navbar') %>
       
                <section class="hero flex">
                    <div class="hero-inner">
                        <h1>Explore The <span style="color: #74c79d;">World</span></h1>
                        <p>Destinator Offers a Collection of Best Travelling Places in the World</p>
                        <a href="#places" class=" hero-btn btn">Explore...</a>
                    </div>
                </section>
         


            <main class="card-wrapper flex" id="places">
                <%- include('./components/placesListcard') %>
            </main>
        



        </div>
        <%- include('./partials/scripts') %>
</body>

</html>