* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
    scroll-behavior: smooth;
}

/*
    Color Scheme
*/

.light-theme {
    --background-primary: #ffffff;
    --secondary-color: #98DED9;
    --secondary-color2: #74c79d;
    --background-secondary: #151c23;
    --text-primary: #000;
    --text-color: #024948;

}

.dark-theme {
    --background-primary: #151c23;
    --secondary-color: #98DED9;
    --secondary-color2: #74c79d;
    --background-secondary: #ffffff;
    --text-primary: #ffffff;
    --text-color: #024948;

}



:root {

    --white: #ffffff;
    --secondary-color: #98DED9;
    --secondary-color2: #74c79d;
    --text-color: #024948;

    /*-----------------------------------*\
                Typography
    \*-----------------------------------*/


    --fs-base: 0.85rem;
    --fs-1: 1.875rem;
    --fs-2: 1.5rem;
    --fs-3: 1.25rem;
    --fs-4: 0.875rem;
    --fs-5: 0.75rem;

    --py: 14px;
}

/*
    Default Styles
*/


html {
    font-size: var(--fs-base);
    line-height: 1.8;
    overflow-x: hidden;

}

a,
li {
    text-decoration: none;
    display: inline-block;
}

ul {
    list-style-type: none;
}

/*
   * scrollbar style
*/

::-webkit-scrollbar {
    width: 13px;
    background-color: #cfedde;

}


::-webkit-scrollbar-thumb {
    border-radius: 20px;
    background: var(--secondary-color2);
}



body {
    background-color: var(--background-primary);
    color: var(--text-primary);
    transition: 0.5s;
}


/* REUSED STYLES */

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-col {
    flex-direction: column;
}


.main-wrapper {
    position: absolute;
    width: 100vw;
    height: 100vh;
}

.btn {
    display: block;
    width: 100%;
    padding: 1rem;
    font-weight: 700;
    font-size: 0.75;
    text-align: center;
    color: var(--text-color);
    background-color: var(--secondary-color2);
    border: none;
    border-radius: 0.4rem;
    transition: 0.2s;
    cursor: pointer;
}

.btn:hover,
.btn:active {
    background-color: var(--secondary-color);
}


/*  
    NAVBAR
*/
.header-wrapper {
    width: 100vw;
    height: 70px;
    font-size: var(--fs-2);
    font-weight: 700;
    padding: 0 var(--fs-base);
    box-shadow: 0px 1px 16px black;
    position: fixed;
    top: 0;
    color: var(--text-color);
    background-color: var(--background-primary);
    z-index: 10;
    justify-content: space-between;
    
}
.fa-close{
    flex-wrap:nowrap ;
    font-size: var(--fs-1);
    height: 100%;
    color: var(--text-color);
}
.header-icons i{
    cursor: pointer;
}


.logo {
    display: flex;
    align-items: center;
    height: 100%;
   
}
.logo img {
    height:100%;
    margin-right: 15px;
}

#nav-wrapper {
    padding:0 20px;
    z-index: 10;
    margin: 0 auto;
}

#nav-wrapper a {
    margin: 0 15px;
    color:var(--text-color);
    text-decoration: none;
}

#nav-wrapper a:hover {
    color: var(--secondary-color2);
}

.navicn,.fa-close{
    display: none;
}
.fa-close{
    position: fixed;
    height: fit-content;
    top:25px;
    right: 25px;
}

@media (max-width: 800px) {

    #nav-wrapper {
        display: flex;
        flex-direction: column;
        position: fixed;
        top: 70px;
        right: -100%;
        width: 100%;
        padding: 10rem auto;
        height: 100vh;
        justify-content: center;
        align-items: center;
        gap: 20px;
        box-sizing: border-box;
        background-color: var(--background-primary);
        backdrop-filter: blur(222px);
        transition: 0.4s;

    }

    .navicn,.fa-close{
        display: block;

    }
   
    #nav-wrapper.shownav {
        right: 0;
        transition: linear 0.4s;
    }
}



/* 
    HERO
 */

.hero {
    width: 100vw;
    height: 100vh;
    text-align: center;
    color: white;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('https://codetheweb.blog/assets/img/posts/full-image-hero/image.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-size: 2.5rem;
    line-height: normal;
}

.hero-btn {
    display: inline-block;
    width: fit-content;
    padding: 1rem 2rem;
    margin: 2rem auto;
    font-size: 1rem;
}

.hero-btn:hover {
    background-color: transparent;
    border: 2px solid var(--secondary-color);
    color: var(--secondary-color2);
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
}

.card-wrapper {
    flex-wrap: wrap;
}

.card__item_wrapper {

    width: 300px;
    height: 600px;
    background-color: var(--background-primary);
    border-radius: 0.4rem;
    box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: 0.2s;
    margin: 2rem;
    border-radius: 1rem;
    overflow: hidden;
    padding-bottom: 30px;
}
@media (max-width:720px) {
    .card__item_wrapper{
        width: 500px;
        height: 550px;

    }
}
.card__item_wrapper:hover {
    transform: translateY(-0.5%);

    box-shadow: 0 4rem 8rem rgba(0, 0, 0, 0.2);
}

.card {
    width: 100%;
    height: 100%;
    background-color: #ffffff;
}

.card__img {
    display: block;
    width: 100%;
    height: 18rem;
}

.card__content {
    padding: 2rem 2rem;
    color: #151c23;
}

.card__header,
.price {
    font-size: var(--fs-1);
    font-weight: 700;
    margin-bottom: 1.5rem;
    line-height: normal;
}

.title {
    color: var(--text-color);
}

.card__text {
    font-size: 1.5rem;
    letter-spacing: 0.1rem;
    line-height: 2rem;
    margin-bottom: 2rem;
}